* {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc__outline {
  border: 2px rgb(32, 31, 31) solid;
  border-radius: 10px;
  width: 500px;
  height: 580px;
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 31, 31);
}

.calc__display--main {
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
}

.calc__display {
  display: flex;
  justify-content: right;
  margin: 30px;
  margin-bottom: 15px;
  border: 2px rgb(32, 31, 31) solid;
  border-radius: 10px;
  height: 10vh;
  background-color: rgb(190, 190, 190);
  box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.4);
}

#display {
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 40px;
}

.calc__panel--main {
  background-color: rgb(40, 39, 39);
}

.calc__panel {
  display: flex;
  margin: 30px;
  margin-bottom: 20px;
  height: 8vh;
}

.calc__panel--img img {
  border: 2px rgb(32, 31, 31) solid;
  border-radius: 10px;
  box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.4);
}

.calc__numbers--main {
  background-color: rgb(40, 39, 39);
  padding-bottom: 20px;
}

.calc__numbers {
  display: flex;
  justify-content: center;
}

.calc__numbers--grid {
  display: grid;
  text-align: center;
  grid-template-columns: 10vh 10vh 10vh 10vh 10vh;
  grid-template-rows: 8vh 8vh 8vh 8vh;
  grid-gap: 8px;
}

.button:hover {
  cursor: pointer;
}

.button--number {
  background-color: rgb(29, 29, 29);
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.button--operator {
  background-color: grey;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.4);
}

.button--special {
  background-color: rgb(28, 187, 131);
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.4);
}

.button--equals {
  background-color: rgb(223, 155, 19);
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 0 16px 0 rgba(0, 0, 0, 0.4);
}
