@use "mixins" as *;
* {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc__outline {
    @include border;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
}
.calc__display--main {
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
}
.calc__display {
    display: flex;
    justify-content: right;
    margin: 40px;
    margin-bottom: 15px;
    @include border;
    height: 10vh;
    background-color: rgb(172, 172, 172);
    box-shadow: 8px 0 16px 0 (rgb(0, 0, 0, 0.4));
}

#display {
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 40px;
}

.calc__panel--main {
    background-color: rgb(40, 39, 39);
}
.calc__panel {
    display: flex;
    margin: 30px;
    height: 8vh;
}

.calc__panel--img img {
    @include border;
    box-shadow: 8px 0 16px 0 (rgb(0, 0, 0, 0.4));
}

.calc__numbers--main {
    background-color: rgb(40, 39, 39);
    padding-bottom: 20px;
}

.calc__numbers {
    display: flex;
    justify-content: center;
}

.calc__numbers--grid {
    display: grid;
    text-align: center;
    grid-template-columns: 9.5vh 9.5vh 9.5vh 9.5vh 9.5vh;
    grid-template-rows: 5vh 6.5vh 6.5vh 6.5vh 6.5vh;
    grid-gap: 8px;
}
.button:hover {
    cursor: pointer;
}

.button--number {
    @include button-primary(rgb(29, 29, 29));
    border-radius: 10px;
}

.button--operator {
    @include button-primary(grey);
}

.button--special {
    @include button-primary(rgb(28, 187, 131));
}

.button--equals {
    @include button-primary(rgb(223, 155, 19));
}
